/bussard.debhelper.log
/bussard.substvars
/bussard/DEBIAN/control
/bussard/DEBIAN/md5sums
/bussard/usr/share/doc/bussard/changelog.Debian.gz
/bussard/usr/share/doc/bussard/copyright
/bussard/usr/share/games/bussard/bussard.love
/bussard/usr/share/lintian/overrides/bussard
/bussard/usr/share/man/man6/bussard.6.gz
/files
/bussard/usr/share/doc/bussard/changelog.gz
/bussard.postinst.debhelper
/bussard.postrm.debhelper
